[Unit]
Description=Metrics Pod for %i
ConditionPathIsDirectory=/var/lib/titus-inits/%i/ns
ConditionPathExists=!/etc/disable-atlas-titus-agent

StartLimitIntervalSec=30
StartLimitBurst=5
CollectMode=inactive-or-failed
PartOf=titus-container@%i.target

[Service]
Environment=TITUS_PID_1_DIR=/var/lib/titus-inits/%i
ExecStart=/usr/local/bin/atlas-titus-agent
LimitNOFILE=65535
PrivateTmp=yes

Restart=on-failure
RestartSec=3