[Unit]
Description=Titus seccomp agent for container %i
# If the service restarts more than 10 times in 30 seconds, let it die
StartLimitIntervalSec=30
StartLimitBurst=10

[Service]
Type=notify
EnvironmentFile=/var/lib/titus-environments/%i.env
ExecStart=/usr/bin/tsa

Restart=on-failure
RestartSec=1
KillMode=mixed
