[Unit]
Description=Titus seccomp agent for container %i

StartLimitIntervalSec=30
StartLimitBurst=5
BindsTo=titus-executor@default__%i.service

[Service]
Type=notify
EnvironmentFile=/var/lib/titus-environments/%i.env
ExecStart=/usr/bin/tsa

Restart=on-failure
RestartSec=3
KillMode=mixed
