[Unit]
Description=Titus Per-executor Systemd

[Service]
ExecStartPre=/bin/mkdir -p /run/titus-executor/%i/tmp
ExecStartPre=/bin/mkdir -p /run/titus-executor/%i/run
ExecStartPre=/bin/mkdir -p /run/titus-executor/%i/etc
ExecStartPre=/bin/mkdir -p /run/titus-executor/%i/systemd

Environment=XDG_DATA_DIR=/run/titus-executor/%i/systemd
Environment=XDG_DATA_DIRS=/apps/titus-executor/systemd:$XDG_DATA_DIRS
Environment=XDG_RUNTIME_DIR=/run/titus-executor/%i/run
Environment=XDG_CONFIG_HOME=/run/titus-executor/%i/etc
Enivronment=XDG_CONFIG_DIRS=/apps/titus-executor/etc/systemd:$XDG_CONFIG_DIRS

[Service]
Type=notify
ExecStart=-/lib/systemd/systemd --user
KillMode=mixed
Delegate=yes
TasksMax=infinity
TimeoutStopSec=600s
