[Unit]
Description=Metadata proxy pod container for %i
ConditionPathIsDirectory=/var/lib/titus-inits/%i/ns

[Service]
Type=notify
NotifyAccess=all
WatchdogSec=30

Environment=TITUS_PID_1_DIR=/var/lib/titus-inits/%i
EnvironmentFile=/var/lib/titus-environments/%i.env
ExecStart=/apps/titus-executor/bin/titus-inject-metadataproxy /apps/titus-executor/bin/titus-metadata-service --listener-fd=169
LimitNOFILE=65535
## TODO: Wire up more "lockdown" so this unit can't wreck havoc if it gets compromised
PrivateTmp=yes

Restart=on-failure
KillMode=mixed
