[Unit]
Description=Write salt for Titus IMDS

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/bash -xc 'echo -n TOKEN_KEY_SALT= > /run/titus-metadata-proxy.salt && /bin/cat /proc/sys/kernel/random/uuid >> /run/titus-metadata-proxy.salt'
LimitCORE=infinity

[Install]
WantedBy=multi-user.target