[Unit]
Description=Storage mounting for task %s
ConditionPathIsDirectory=/var/lib/titus-inits/%i/ns
# PartOf ensures that titus-storage will shutdown as part of the main titus-executor unit
PartOf=titus-executor@default__%i.service

StartLimitIntervalSec=30
StartLimitBurst=5
PartOf=titus-container@%i.target

[Service]
# This command is oneshot, it runs once, mounts and returns on 'start',
# and on stop, it (may) unmount, clean up anything, and then return.
Type=oneshot
RemainAfterExit=yes

# This PID1 variable points us to the namespaces required to do mount injection
Environment=TITUS_PID_1_DIR=/var/lib/titus-inits/%i
# static-environment has variables like EC2_INSTANCE_TYPE which is useful
EnvironmentFile=-/etc/nflx/static-environment
# These two files have things like TITUS_TASK_ID, which we need to operate,
# however, we cannot guarantee that when we run 'stop', that the file
# is in place, so we have a backup file too. The '-' tells system to
# not fail if they don't exist
EnvironmentFile=-/var/lib/titus-environments/%i.env
EnvironmentFile=-/var/lib/titus-environments/%i-titus-storage.env

# We copy the env file for ourselves to ensure
# it exists when it comes to stop.
# Otherwise there is a race, where that env file
# may not exist, and it stores the data we need to
# stop cleanly
ExecStart=/bin/cp /var/lib/titus-environments/%i.env /var/lib/titus-environments/%i-titus-storage.env
ExecStart=/apps/titus-executor/bin/titus-storage start

# The normal stop here is to do things like detatach
ExecStop=/apps/titus-executor/bin/titus-storage stop
# We just need to remember to clean up our copy afterwards here
ExecStop=/bin/rm -f /var/lib/titus-environments/%i-titus-storage.env

LimitNOFILE=65535
PrivateTmp=yes
KillMode=mixed
