[Unit]
Description=Metadata proxy pod container for %i
ConditionPathIsDirectory=/var/lib/titus-inits/%i/ns

StartLimitIntervalSec=30
StartLimitBurst=5

After=titus-salt-generator.service
Wants=titus-salt-generator.service
CollectMode=inactive-or-failed

[Service]
Type=notify
NotifyAccess=all
WatchdogSec=30

Environment=TITUS_PID_1_DIR=/var/lib/titus-inits/%i
EnvironmentFile=-/run/titus-metadata-proxy.salt
EnvironmentFile=/var/lib/titus-environments/%i.env
ExecStart=/apps/titus-executor/bin/run-titus-metadata-proxy.sh
LimitNOFILE=65535
## TODO: Wire up more "lockdown" so this unit can't wreck havoc if it gets compromised
PrivateTmp=yes

Restart=on-failure
KillMode=mixed
