[Unit]
Description=Titus Log Viewer Server
Conflicts=halt.target shutdown.target sigpwr.target

[Service]
EnvironmentFile=-/etc/titus-shared.env
Environment=CONTAINER_HOME=/var/lib/titus-container-logs
ExecStart=/apps/titus-executor/bin/titus-logviewer
Restart=always
StartLimitInterval=0
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

