[Unit]
Description=Tracing Collector for container %i
ConditionPathIsDirectory=/var/lib/titus-inits/%i/ns

StartLimitIntervalSec=30
StartLimitBurst=5
CollectMode=inactive-or-failed
PartOf=titus-container@%i.target

[Service]
EnvironmentFile=/var/lib/titus-environments/%i.env
# Run as root (UID 0, GID 0) and with CAP_DAC_OVERRIDE so that containers with a `USER` instruction work
ExecStart=/usr/bin/runc --root /var/run/docker/runtime-${TITUS_OCI_RUNTIME}/moby exec --user 0:0 --cap CAP_DAC_OVERRIDE ${TITUS_CONTAINER_ID} /titus/tracing-collector/start

Restart=on-failure
RestartSec=3
KillMode=mixed
