[Unit]
Description=Titus seccomp agent for container %i

StartLimitIntervalSec=30
StartLimitBurst=5
PartOf=titus-executor@default__%i.service
Requisite=titus-executor@default__%i.service
CollectMode=inactive-or-failed

[Service]
Type=notify
EnvironmentFile=/var/lib/titus-environments/%i.env
ExecStart=/usr/bin/tsa

Restart=on-failure
RestartSec=3
KillMode=mixed
