[Unit]
Description=Titus Reaper: Reaps Titus Containers
After=docker.service

[Service]
Type=oneshot
EnvironmentFile=-/run/titus.env
ExecStart=/apps/titus-executor/bin/titus-reaper
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

