[Unit]
Description=Titus IMDS proxy for kubelet
ConditionPathExists=/run/is_kubelet

After=titus-salt-generator.service
Wants=titus-salt-generator.service

StartLimitIntervalSec=30
StartLimitBurst=10

[Service]
Type=notify
NotifyAccess=all
WatchdogSec=30

Restart=on-failure
KillMode=mixed

User=root
Group=root

LimitNOFILE=65536
PrivateTmp=yes

EnvironmentFile=-/run/titus-metadata-proxy.salt
EnvironmentFile=/var/lib/titus-environments/%i/imds-proxy.env
ExecStart=/apps/titus-executor/bin/titus-metadata-service

[Install]
WantedBy=multi-user.target
