version: 2
jobs:
  builder:
    docker:
      - image: docker:17.05.0-ce-git
    resource_class: xlarge
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Login into Docker hub
          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run:
          name: Build builder image
          command: docker build -t titusoss/titus-executor-builder hack/builder
      - run:
          name: Push builder image
          command: docker push titusoss/titus-executor-builder
  # We don't build big image because it takes an hour+ to build on Circle CI infra
  test-images:
    docker:
      - image: docker:stable-git
    resource_class: xlarge
    working_directory: /go/src/github.com/Netflix/titus-executor/hack/test-images
    steps:
      - checkout:
          path: /go/src/github.com/Netflix/titus-executor
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Login into Docker hub
          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: ./build.sh ubuntu
      - run: ./build.sh ubuntu-systemd-bionic
      - run: ./build.sh no-entrypoint
      - run: ./build.sh shell-entrypoint
      - run: ./build.sh ignore-signals
      - run: ./build.sh pty
      - run: ./build.sh ubuntu-env-label
      - run: ./build.sh user-set
      - run: BUILD_FROM_CHECKOUT_ROOT=true ./build.sh metatron
  ci-builder:
    docker:
      - image: docker:17.05.0-ce-git
    resource_class: xlarge
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Login into Docker hub
          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run:
          name: Build builder image
          command: docker build -t titusoss/titus-ci-builder hack/ci-builder
      - run:
          name: Push builder image
          command: docker push titusoss/titus-ci-builder
  titus-logviewer:
    resource_class: xlarge
    docker:
      - image: docker:stable-git
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Login into Docker hub
          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run:
          name: Build titus-logviewer image
          command: docker build -t titusoss/titus-logviewer -f hack/images/titus-logviewer/Dockerfile .
      - run:
          name: Push titus-logviewer image
          command: docker push titusoss/titus-logviewer
  titus-sshd:
    resource_class: xlarge
    docker:
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Login into Docker hub
          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run:
          name: Build titus-sshd image
          command: docker build -t titusoss/titus-sshd hack/images/titus-sshd
      - run:
          name: Push titus-sshd image
          command: docker push titusoss/titus-sshd
  test-local:
    docker:
      - image: titusoss/titus-ci-builder
    resource_class: xlarge
    working_directory: /builds
    steps:
      - checkout
      - run:
          name: Local tests
          command: make test-local
      - run:
          name: Upload code coverage reports to codecov.io
          command: bash <(curl -s https://codecov.io/bash)
      - run:
          name: Validate local
          command: make validate
      - run:
          name: Validate tests build on darwin
          command: make build-tests-darwin
  build:
    docker:
      - image: titusoss/titus-executor-builder
        entrypoint: /bin/sleep 1000
    resource_class: xlarge
    working_directory: /builds
    steps:
      - checkout
      - run:
          name: Run build
          command: make build-standalone
      - store_artifacts:
          path: /builds/build/distributions

workflows:
  version: 2
  build_and_test:
    jobs:
      - builder
      - ci-builder
      - test-images
      - build:
          requires:
            - builder
            - ci-builder
      - test-local:
          requires:
            - ci-builder
