[Unit]
Description=SSHD for container %s
ConditionPathIsDirectory=/var/lib/titus-inits/%i/ns

StartLimitIntervalSec=30
StartLimitBurst=5
CollectMode=inactive-or-failed
PartOf=titus-container@%i.target

[Service]
Environment=TITUS_PID_1_DIR=/var/lib/titus-inits/%i
# TSA is used in the main container processes to handle certain syscalls
# To ensure a sane user experience, we want sshd-spawned processes to
# get TSA help too. This environment variable ensures that will happen.
Environment=TITUS_NSENTER_USE_TSA=true
EnvironmentFile=/var/lib/titus-environments/%i.env
ExecStart=/apps/titus-executor/bin/titus-nsenter /titus/sshd/usr/sbin/sshd -D -e
LimitNOFILE=65535
## TODO: Wire up more "lockdown" so this unit can't wreck havoc if it gets compromised
PrivateTmp=yes

RestartSec=3
Restart=on-failure
KillMode=mixed

# TODO: Setup Memory / CPU / PID limits since this isn't running under the same cgroup
# as the PID, and a bad user could wipe out the host.
