[Unit]
Description=Titus seccomp agent for container %i

StartLimitIntervalSec=30
StartLimitBurst=5
CollectMode=inactive-or-failed
PartOf=titus-container@%i.target

[Service]
Type=notify
EnvironmentFile=/var/lib/titus-environments/%i.env
ExecStart=/usr/bin/tsa

Restart=on-failure
RestartSec=3
KillMode=mixed
